nav {
  background-color: #364958;
  -webkit-box-shadow: 0 5px 20px 0px #000;
  -moz-box-shadow: 0 5px 20px 0px #000;
  box-shadow: 0 5px 20px 0px #000;
  margin-bottom: 50px;
  height: 50px;
  padding: 5px;
}

.left {
  color: #87bba2;
  font-family: tahoma;
  margin-left: 10px;
  text-decoration: none;
}

.left:hover {
  color: #55828b;
  text-decoration: none;
}

.right {
  float: right;
  color: #87bba2;
  font-family: tahoma;
  margin-right: 10px;
  text-decoration: none;
}

.right:hover {
  color: #55828b;
  text-decoration: none;
}

.card {
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 20px 0px #000;
  -moz-box-shadow: 0 5px 20px 0px #000;
  box-shadow: 0 5px 20px 0px #000;
  margin-top: 30px;
  height: auto;
  width: 50%;
  margin-bottom: 20px;
}

.picture {
  height: auto;
  width: 100%;
  border-radius: 10px;
}

.col-lg-12 {
  display: flex;
  justify-content: center;
  align-items:center;
}

h2 {
  text-align: center;
  color: #3b6064;
}